div.dialog {
	display: none;
}

div.answers {
	margin-left: 1em;
	color: #666666;
}
div.answers .correct {
	color: #226622;
	font-style:italic;
}

div#mainbody {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
div.center {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
h1.center {
	text-align: center
}
div.question {
	cursor: move;
	border: 1px solid #aaaaaa; background: #ffffff; color: #000000;
	-moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; 
	margin-top: 5px;
	padding: 5px;
	width: 790px;
}
div#newquestionoverlay div#questiontitle {
	width: 550px;
	height: 50px;
	margin-bottom: 15px;
}
div#newquestionoverlay div#questiontitle input {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 7px;
	width: 520px;
}
div#newquestionoverlay div.answer {
	margin-bottom: 5px;
}

div#newquestionoverlay div.answer input[type=text] {
	width: 500px;
	margin-left: 15px;
}
div#newquestionoverlay div.answer input[type=radio] {
	margin-left: 12px;
}

h1 {
	font-size: 1.1em;
}

span.ui-icon {
	display: inline-block;
}
span.deleteanswer {
	right: 0px;
	float: right;
}
div#quizselect, div#newquestiondiv {
	font-size: 1.2em;
	text-align: right;
	margin-bottom: 18px;
	margin-top: 6px;
}
select#quizname {
	
}

html { font-family: Verdana,Arial,sans-serif; font-size: 0.9em; color: #000000 }
input, select, textarea, button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
div.box { border: 1px solid #aaaaaa; background: #ffffff url(custom-theme/images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; color: #000000; }
a { color: #222222; }
div.header {font-size: 1.5em; border: 1px solid #aaaaaa; background: #cccccc url(custom-theme/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: bold; }
a:visited { color: #222222; }
a:hover {color: #666666; }
a.nounderline {text-decoration: none;}